<html>
    <head>
        <title>Otters' blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Wikipedie otter</a></h1>
        </div>

        <div>
            <p> published 27.10.2016, 15:23</p>
            <h2><a href="">Otters</a></h2>
            <p> Otters are carnivorous mammals in the subfamily Lutrinae. The 13 extant otter species are all semiaquatic, aquatic or marine, with diets based on fish and invertebrates. Lutrinae is a branch of the weasel family Mustelidae, which also includes badgers, honey badgers, martens, minks, polecats, weasels, and wolverines.</p>
        </div>

        <div>
            <p>published 23.10.2016, 14:23</p>
            <h2><a href="">Etymology</a></h2>
            <p> The word otter derives from the Old English word otor or oter. This, and cognate words in other Indo-European languages, ultimately stem from the Proto-Indo-European language root *wódr̥, which also gave rise to the English word "water".</p>
        </div>

        <div>
            <p>published 15.10.2016, 11:02</p>
            <h2><a href="">Terminology</a></h2>
            <p> An otter's den is called a holt or couch. Male otters are called dogs or boars, females are called bitches or sows, and their offspring are called pups. The collective nouns for otters are bevy, family, lodge, romp (being descriptive of their often playful nature) or, when in water, raft.</p>
        </div>
 
    </body>
</html>
